/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@import "tailwindcss";
@import "react-phone-input-2/lib/style.css";


/* Optional: Define theme variables */
:root {
  /* You can define these if needed for theming */
  /* --background: #ffffff;
  --foreground: #171717; */
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

/* Use Tailwind's @apply to set a global background and text color */
body {
  @apply bg-gradient-to-br from-emerald-950 via-slate-900 to-emerald-900 text-white;
  font-family: var(--font-montserrat);
}
